<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{TITLE_TITLE_CASE}</title>
    <link rel="stylesheet" href="../../styles/blessing-qr-card-styles.css" />
  </head> 

  <body class="qr-card">
    <div class="card">
      <div class="title">{TITLE_TITLE_CASE}</div>
      <div class="qr-code">
        <img src="../../../qr-codes/{TITLE_LOWERCASE}.png"> </img>
      </div>
    </div>
  </body>
</html>
