<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{DIRECTION_NAME_TITLE_CASE}</title>
    <link rel="stylesheet" href="../../styles/direction-page-styles.css" />
  </head>
  <body class="direction-page">
    <div class="container">
      <img
        src="../../assets/art/directions/{DIRECTION_NAME_LOWERCASE}.webp"
        alt="{DIRECTION_NAME_TITLE_CASE}"
        class="hero-image"
      />
      <div class="content">
        <h2>{DIRECTION_NAME_TITLE_CASE}</h2>
        <hr />
        <p>{DETAILS}</p>
      </div>
    </div>
  </body>
</html>
